# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Swap files
*~
*.swp
*.swo

# Archives, zip files
*.zip
*.tar*

# Ignore cscope and tags files
cscope*
tags
